<h1>Add A Kitty</h1>

<%= form_for @kitty do |f| %>
  <%= f.text_field(:name, placeholder: "Name") %>
  <%= f.number_field(:age, placeholder: "Age") %>
  <%= f.text_field(:breed, placeholder: "Breed") %>
  <%= f.text_field(:image, placeholder: "Image URL") %>
  <%= f.submit("Add Kitty") %>
<% end %>