<!DOCTYPE html>
<html>
  <head>
    <title>Furballs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navigation">
      <%= link_to("Home", "/") %>
      <%= link_to("Add Kitty", "/kitties/new") %>
      
    </div>
    <%= yield %>
  </body>
</html>
